@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search-area {
    padding: 1%;
    text-align: center;
}

#search-bar, .button {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    height: 40px;
}

#search-bar {
    padding-left: 10px;
    width: 40%;
    border-radius: 2px;
    border: 1px solid #cccccc;

    box-shadow: inset 0px 0px 5px 2px #eeeeee;
    -webkit-box-shadow: inset 0px 0px 5px 2px #eeeeee;
    -moz-box-shadow: inset 0px 0px 5px 2px #eeeeee;
}

.button {
    border-radius: 2px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;

    box-shadow: inset 0px 0px 10px 2px #eeeeee;
    -webkit-box-shadow: inset 0px 0px 10px 2px #eeeeee;
    -moz-box-shadow: inset 0px 0px 5px 2px #eeeeee;
}

#loading, #error {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 1.3rem;
    text-align: center;
    display: none;
    margin-bottom: 1%;

    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;

    animation: fadein 0.5s;
}

#error {
    color: red;

    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;

    animation: fadein 1s;
}

.result {
    max-width: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;

    box-shadow: 0px 0px 20px 2px #eeeeee;
    -webkit-box-shadow: 0px 0px 5px 2px #eeeeee;
    -moz-box-shadow: 0px 0px 5px 2px #eeeeee;


    -webkit-animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
    -o-animation: fadein 1.25s;
    animation: fadein 1.25s;
}

.result * {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.result-image-container {
    min-height: 100px;
}

.cover-img {
    display: inline;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #aaaaaa;

    box-shadow: 0px 0px 20px 2px #dddddd;
    -webkit-box-shadow: 0px 0px 5px 2px #eeeeee;
    -moz-box-shadow: 0px 0px 5px 2px #eeeeee;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-size: 1.1rem;
    width: 85%;
    margin: auto;
}

.subtitle {
    font-size: 1rem;
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.authors {
    color: #666666;
    font-size: 0.8rem;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (min-width: 840px) {
    #container {
        margin: auto;
        max-width: 840px;
    }

    .result {
        display: inline-block;
        vertical-align: top;
        width: 400px;
        margin: 5px;
    }
}

@media screen and (min-width: 1250px) {
    #container {
        margin: auto;
        max-width: 1250px;
    }
}

@media screen and (min-width: 1660px) {
    #container {
        margin: auto;
        max-width: 1660px;
    }
}

@media screen and (min-width: 2090px) {
    #container {
        margin: auto;
        max-width: 2090px;
    }
}
